.layout__auth {
  background-color: var(--secondary-bg);
  height: 130vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .children {
    display: flex;
    height: max-content;
  }
}