.style__profile {
  padding: 45px 30px;
  overflow-y: scroll;
  /* Firefox */
  scrollbar-width: none;
  /* Internet Explorer 10+ */
  -ms-overflow-style: none;
  // width: 28%;

  /* Not Showing Scrollbar in Google Chrome */
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  // width: 200vw;

  &--header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    svg {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: #f6f6f6;
    margin-top: 20px;
  }

  &--title {
    flex: 1;
    font-family: Rubik, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    color: var(--text-purple);
    text-align: center;
  }

  &--section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--avatar {
    width: 82px;
    height: 82px;
    margin-bottom: 25px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px;
    }

    input {
      position: absolute;
      height: 100%;
      left: 0;
      width: 100%;
      opacity: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &--name {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 26px;
    margin-bottom: 10px;
    letter-spacing: -0.165px;
    color: var(--text-black);
  }

  &--username {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.135px;
    color: var(--text-gray);
  }

  &--form {
    margin-top: 25px;
  }

  &--heading {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: var(--text-black);
    margin-top: 25px;
  }

  &--sub {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--text-black);
    margin-bottom: 15px;
  }

  .subheading {
    color: var(--text-black);
    margin-bottom: 8px;
  }

  input {
    &.subheading {
      display: block;
      border: 0;
      background-color: transparent;
      font-family: 'Rubik', sans-serif;
      font-weight: 400;
      font-size: 16px;
      width: 100%;
      letter-spacing: -0.17px;
      color: var(--text-gray);
    }
    &:focus {
      outline: 0;
    }
  }

  textarea {
    width: 100%;
    height: 80px;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    line-height: 19px;
    color: var(--text-gray);

    &:focus {
      outline: 0;
    }
  }

  &--action {
    margin-top: 15px;
    display: flex;
    gap: 15px;
  }

  &--button {
    border: 0;
    border-radius: 20px;
    width: 30%;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

    &:disabled {
      opacity: 0.5;
    }

    &.secondary {
      background-color: transparent;
      color: var(--text-purple);
      border: 1px solid var(--text-purple);
    }
  }
}

.setting-items {
  margin-top: 20px;
  .row {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  &--label {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: var(--text-purple);
  }

  &--back {
    margin-left: auto;
  }
}
