.style__textfield {
  position: relative;

  label {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--text-gray);
    opacity: 0.75;
  }

  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--text-black);
    outline: none;
    box-shadow: none;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--text-black);
  }

  .icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 20px;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}