.style__button {
  border: 0;
  border-radius: 70px;
  width: 100%;
  height: 60px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.primary {
  background-color: var(--text-purple);
  color: var(--text-white);
}

.outline {
  background-color: transparent;
  color: var(--text-purple);
  border: 1px solid var(--text-purple);
}
