.style__notfound {
  position: relative;
  height: 100vh;

  &--container {
    max-width: 710px;
    width: 100%;
    text-align: center;
    padding: 0px 15px;
    line-height: 1.4;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    h2 {
      font-family: 'Rubik', sans-serif;
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
      color: #222;
      margin: 0;
    }

    a {
      font-family: 'Rubik', sans-serif;
      display: inline-block;
      font-weight: 700;
      border-radius: 15px;
      text-decoration: none;
      color: var(--text-purple);

      &:hover {
        color: #1b1543;
      }

      & > .arrow {
        position: relative;
        top: -2px;
        border: solid var(--text-purple);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
      }
    }
  }

  &--title {
    height: 200px;
    line-height: 200px;

    @media only screen and (max-width: 767px) {
      height: 122px;
      line-height: 122px;
    }

    h1 {
      font-family: 'Rubik', sans-serif;
      font-size: 168px;
      margin: 0px;
      color: var(--text-purple);
      text-transform: uppercase;

      @media only screen and (max-width: 767px) {
        font-size: 122px;
      }
    }
  }

  &--search {
    position: relative;
    padding-right: 123px;
    max-width: 420px;
    width: 100%;
    margin: 30px auto 22px;
    display: flex;

    input {
      width: 100%;
      height: 40px;
      padding: 3px 15px;
      color: #222;
      font-size: 18px;
      background: #f8fafb;
      border: 1px solid rgba(34, 34, 34, 0.2);
      border-radius: 3px;
    }

    button {
      font-family: 'Rubik', sans-serif;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 120px;
      height: 47px;
      text-align: center;
      border: none;
      background: var(--text-purple);
      cursor: pointer;
      padding: 0;
      color: var(--text-white);
      font-weight: 700;
      font-size: 18px;
      border-radius: 3px;
    }
  }
}