@import '@fortawesome/fontawesome-free/css/all.min.css';
@import '@fontsource/rubik';

:root {
  --text-purple: #7e98df;
  --text-black: #232323;
  --text-gray: #848484;
  --text-white: #FFFFFF;
  --secondary-bg: #EAEAEA;
}
